<div id="principal">
  <div id="faixa"> <!--Linha que fica atras-->
  </div>
  <div id="logo-rafaela"> <!--Imagem--> 
  </div> 
  <div id="bloco-login"> <!--Bloco login-->    
    <p *ngIf="errorMessage !== ''">{{errorMessage}}</p>
    <div>
      <label>Usu&aacute;rio <br/>
      <input class="input-form" type="text" name="usuario" [(ngModel)]="login" autocomplete="off" required />
      </label>
    </div>

    <div>
      <label> Senha <br/>
      <input class="input-form" type="password" name="password"  [(ngModel)]="password" required />
      </label>
    </div>
    <div>
      <button type="button" (click)="efetuarLogin()"><strong>ENTRAR</strong></button>
    </div>
  </div>
</div>