#principal {
  display: block;
  height: 100%;
  width:100%;
  position: relative;
}

#faixa{
  display: block;
  background-color: #000;
  width:100%;
  height: 100px;
  position: absolute;
  top: 150px; 
}

#logo-rafaela {
  display: block;
  background-image: url('/img/RafaLogo.jpeg');
  height: 1024px;
  width: 1024px;
  position: absolute;
  border-radius: 1024px;
}

#bloco-login {

}