<div class="container">
  <div class="image-container">
    <div class="image-slider image-ani" style="display: none;">
      <img src="/img/RafaLogo.jpeg" alt="Imagem 1" width="500" height="500" style="object-fit: contain;">
    </div>
    <div class="image-slider image-ani">
      <img src="/img/Rafa1.jpg" alt="Imagem 2" width="500" height="500" style="object-fit: contain;">
    </div>
  </div>

  <div class="container-login"> <!-- Estilo do login -->
    <div class="wrap-login"> <!-- Estilo do formulário de login -->
      <span class="login-form-title">
          Login <!-- Título do Login que aparece na página -->
      </span>
      <p *ngIf="errorMessage !== ''">{{errorMessage}}</p>
      <div class="wrap-input margin-top-35 margin-bottom-35">
        <input class="input-form" type="text" name="usuario" [(ngModel)]="login" autocomplete="off" required />
        <span class="focus-input-form" data-placeholder="Usuário"></span>
      </div>
      <div class="wrap-input margin-bottom-35">
        <input class="input-form" type="password" name="password"  [(ngModel)]="password" required />
        <span class="focus-input-form" data-placeholder="Senha"></span>
      </div>
      <div class="container-login-form-btn">
        <button type="button" (click)="efetuarLogin()" class="login-form-btn"><strong>Login</strong></button>
      </div>
      <ul class="login-utlis"> <!-- Lista -->
        <li class="margen-top-8 margen-bottom-8"> <!-- Itens da Lista -->
          <span class="text1">Esqueceu sua</span>
          <a href="/carregamento/index2.html" class="text2">Senha?</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>
<script src="/js/slider.js"></script>
