<div id="principal">
  <div id="faixa"> <!--Linha que fica atras-->
  </div>
  <div id="logo-rafaela"> <!--Imagem-->
  </div>
  <div id="bloco-login"> <!--Bloco login-->
    <div>
      <label>Usu&aacute;rio <br/>
      <input class="input-form" type="text" #txtusuario name="usuario" (keyup)="prepareSendingLogin($event)" [(ngModel)]="login" autocomplete="off" required />
      </label>
    </div>

    <div>
      <label> Senha <br/>
      <input class="input-form" type="password" #txtpassword name="password" (keyup)="prepareSendingLogin($event)" [(ngModel)]="password" required />
      </label>
    </div>
    <div>
      <p *ngIf="errorMessage !== ''" style="text-align:center">{{errorMessage}}</p>
      <button type="button"name="btnLogin" (click)="efetuarLogin()" (keyup)="prepareSendingLogin($event)"><strong>ENTRAR</strong></button>
    </div>
  </div>
</div>

<app-loading *ngIf="isLoadingVisible"></app-loading>
