<div class="error-message" *ngIf="errorMessage !== ''">{{errorMessage}}</div>

<!-- Counts Section -->
<section class="py-5">
  <div class="container-fluid">
    <div class="row">

      <!-- Novos Fornecedores-->
      <div class="col-xl-2 col-md-6 col-6 gy-6 gy-xl-0">
        <div class="d-flex">
          <svg class="svg-icon svg-icon-sm svg-icon-heavy text-primary mt-1 flex-shrink-0">
            <use xlink:href="#user-1"> </use>
          </svg>
          <div class="ms-2">
            <h3 class="h4 text-dark text-uppercase fw-normal">Novos Fornecedores</h3>
            <p class="text-gray-500 small">Último mês</p>
            <p class="display-6 mb-0">{{reportsData.totalFornecedoresRecentementeCriados}}</p>
          </div>
        </div>
      </div>

      <!-- Novos Produtos-->
      <div class="col-xl-2 col-md-6 col-6 gy-6 gy-xl-0">
        <div class="d-flex">
          <svg class="svg-icon svg-icon-sm svg-icon-heavy text-primary mt-1 flex-shrink-0">
            <use xlink:href="#user-1"> </use>
          </svg>
          <div class="ms-2">
            <h3 class="h4 text-dark text-uppercase fw-normal">Novos Produtos</h3>
            <p class="text-gray-500 small">Último mês</p>
            <p class="display-6 mb-0">{{reportsData.totalProdutosRecentementeCriados}}</p>
          </div>
        </div>
      </div>

    </div>

    <div class="row" style="margin-top: 50px;">
      <div class="col" style="width: 500px;height: 500px;">
        <canvas id="canvas-pie-chart">{{pieChart}}</canvas>
      </div>
      <div class="col" style="margin-left:50px; width: 500px;height: 500px;">
        <canvas id="canvas-lines-chart">{{linesChart}}</canvas>
      </div>
    </div>
  </div>
</section>

<app-loading *ngIf="isLoadingVisible"></app-loading>

