<div class="error-message" *ngIf="errorMessage !== ''">{{errorMessage}}</div>

<div class="container">
  <div class="row page-header inner-page-header">
    <div class="col-sm-6">
      <h1>Produtos</h1>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-success">INCLUIR</button>
    </div>
  </div>
  <div class="page-content">
    <div class="row">
      <div class="col-sm-8">
        &nbsp;
      </div>
      <div class="col-sm-4 list-page-search-holder">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar produto.." aria-label="Buscar produto..">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" class="items-table-holder">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Produto</th>
              <th scope="col">Pre&ccedil;o</th>
              <th scope="col">Validade</th>
              <th scope="col">Formato</th>
              <th scope="col">Estoque</th>
              <th scope="col">&nbsp;</th>
            </tr>
          </thead>
          <tr *ngFor="let produto of getListaProdutos()">
            <td>{{produto.nome}}</td>
            <td>{{produto.preco | currency : 'BRL'}}</td>
            <td>{{getFormattedDate(produto.validade)}}</td>
            <td>{{produto.formatoNome}}</td>
            <td>{{produto.estoqueClientes}} CL : {{produto.estoqueCursos}} CS de {{produto.estoqueTotal}}</td>
            <td class="table-icons">
              <a class="icon" title="Alterar informações" (click)="atualizarProduto(produto.id)">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
              <a class="icon" title="Excluir" (click)="deletarProduto(produto.id)">
                <i class="fa-solid fa-trash-can"></i>
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center table-footer">
        <a (click)="paginaAnterior()" data-toggle="tooltip" data-placement="top" title="Página anterior" *ngIf="paginacao.paginaAtual > 1"><i class="fa-solid fa-backward"></i>&nbsp;</a>
        <i class="bi bi-arrow-left-circle"></i> {{paginacao.paginaAtual}} / {{paginacao.totalPaginas}} <i class="bi bi-arrow-right-circle"></i>
        <a (click)="proximaPagina()" data-toggle="tooltip" data-placement="top" title="Próxima página" *ngIf="paginacao.paginaAtual < paginacao.totalPaginas">&nbsp;<i class="fa-solid fa-forward"></i></a>
      </div>
    </div>
  </div>
</div>

<app-loading *ngIf="isLoadingVisible"></app-loading>
