<div class="error-message" *ngIf="errorMessage !== ''">{{errorMessage}}</div>

<div class="container">
  <div class="row page-header inner-page-header">
    <div class="col-sm-6">
      <h1>Produtos</h1>
    </div>
    <div class="col-sm-6">
      <button *ngIf="userCanAdd()" class="btn btn-success" (click)="gotoCadastro()">INCLUIR</button>
    </div>
  </div>
  <div class="page-content">
    <div class="row">
      <div class="col-sm-8">
        &nbsp;
      </div>
      <div class="col-sm-4 list-page-search-holder">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar produto.." (keyup)="executarBuscaOnKeyboard($event)" (blur)="executarBuscaOnBlur($event)" aria-label="Buscar produto..">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" class="items-table-holder">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"><a (click)="ordenarTabela('nome', 'ASC')">Produto</a></th>
              <th scope="col"><a (click)="ordenarTabela('preco', 'ASC')">Pre&ccedil;o</a></th>
              <!--<th scope="col"><a (click)="ordenarTabela('validade', 'ASC')">Validade</a></th>-->
              <th scope="col">Formato</th>
              <th scope="col"><a (click)="ordenarTabela('estoqueTotal', 'ASC')">Estoque</a></th>
              <th scope="col"><a (click)="ordenarTabela('vencendo', 'DESC')"><i class="fa-solid fa-triangle-exclamation" style="color:#f59d2b"></i>&nbsp;Vencendo</a></th>
              <th scope="col"><a (click)="ordenarTabela('vencidos', 'DESC')"><i class="fa-solid fa-skull-crossbones" style="color:#ef0000"></i>&nbsp;Vencidos</a></th>
              <th scope="col">&nbsp;</th>
            </tr>
          </thead>
          <tr *ngIf="getListaProdutos().length == 0">
            <td class="list-items-not-found" colspan="4" scope="row">Nenhum produto dispon&iacute;vel no momento.</td>
          </tr>
          @for (produto of getListaProdutos(); track $index) {
            <tr>
              <td>{{produto.nome}}</td>
              <td>{{produto.preco | currency : 'BRL'}}</td>
              <!--<td>{{getFormattedDate(produto.validade)}}</td>-->
              <td>{{produto.formatoNome}}</td>
              <td>{{produto.estoqueClientes}} CL : {{produto.estoqueCursos}} CS de {{produto.estoqueTotal}}</td>
              <td><span [ngClass]="{'vencimento-highlight': produto.vencendo > 0}">{{produto.vencendo}}</span></td>
              <td><span [ngClass]="{'vencimento-highlight': produto.vencidos > 0}">{{produto.vencidos}}</span></td>
              <td class="table-icons">
                <a *ngIf="userCanEdit()" class="icon" title="Gerenciar Estoque" (click)="gerenciarEstoque(produto)">
                  <div class="arrow-up-arrow-down"></div>
                </a>
                <a class="icon" title="Ver Fornecedores" (click)="visualizarFornecedores(produto)">
                  <div class="person-dolly"></div>
                </a>
                <a *ngIf="userCanEdit()" class="icon" title="Alterar informações" (click)="atualizarProduto(produto.id)">
                  <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <a *ngIf="userCanDelete()" class="icon" title="Excluir" (click)="confirmarRemocaoProduto(produto)">
                  <i class="fa-solid fa-trash-can"></i>
                </a>
              </td>
            </tr>
          }
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center table-footer">
        <a (click)="paginaAnterior()" data-toggle="tooltip" data-placement="top" title="Página anterior" *ngIf="paginacao.paginaAtual > 1"><i class="fa-solid fa-backward"></i>&nbsp;</a>
        <i class="bi bi-arrow-left-circle"></i> {{paginacao.paginaAtual}} / {{paginacao.totalPaginas}} <i class="bi bi-arrow-right-circle"></i>
        <a (click)="proximaPagina()" data-toggle="tooltip" data-placement="top" title="Próxima página" *ngIf="paginacao.paginaAtual < paginacao.totalPaginas">&nbsp;<i class="fa-solid fa-forward"></i></a>
      </div>
    </div>
  </div>
</div>

<app-loading *ngIf="isLoadingVisible"></app-loading>
