<div class="error-message" *ngIf="errorMessage !== ''">{{errorMessage}}</div>

<div class="container">
  <div class="row page-header inner-page-header">
    <div class="col-sm-12">
      <h1>Produtos - Hist&oacute;rico de Entradas e Sa&iacute;das</h1>
    </div>
  </div>
  <div class="page-content">
    <div class="row">
      <div class="col-sm-8">
        &nbsp;
      </div>
      <div class="col-sm-4 list-page-search-holder">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar produto.." (keyup)="executarBuscaOnKeyboard($event)" (blur)="executarBuscaOnBlur($event)" aria-label="Buscar produto..">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" class="items-table-holder">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Data/Hora</th>
              <th scope="col">Produto</th>
              <th scope="col">Tipo</th>
              <th scope="col">Distribui&ccedil;&atilde;o</th>
              <th scope="col">Validade</th>
            </tr>
          </thead>
          <tr *ngIf="getListaEntradasSaidas().length == 0">
            <td class="list-items-not-found" colspan="4" scope="row">Nenhum hist&oacute;rico dispon&iacute;vel no momento.</td>
          </tr>
          <tr [ngClass]="{'linha-entrada': entradaSaida.tipo == 1, 'linha-saida': entradaSaida.tipo != 1}" *ngFor="let entradaSaida of getListaEntradasSaidas()">
            <td>{{getFormattedDate(entradaSaida.createdAt, 'dd/MM/yyyy HH:mm')}}</td>
            <td>{{entradaSaida.produtoNome}}</td>
            <td>{{entradaSaida.tipoNome}}</td>
            <td>{{entradaSaida.qtdClientes}} CL : {{entradaSaida.qtdCursos}} CS de {{entradaSaida.total}}</td>
            <td>{{entradaSaida.isValidadeDefinida ? getFormattedDate(entradaSaida.validade, 'dd/MM/yyyy') : 'Indefinida'}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center table-footer">
        <a (click)="paginaAnterior()" data-toggle="tooltip" data-placement="top" title="Página anterior" *ngIf="paginacao.paginaAtual > 1"><i class="fa-solid fa-backward"></i>&nbsp;</a>
        <i class="bi bi-arrow-left-circle"></i> {{paginacao.paginaAtual}} / {{paginacao.totalPaginas}} <i class="bi bi-arrow-right-circle"></i>
        <a (click)="proximaPagina()" data-toggle="tooltip" data-placement="top" title="Próxima página" *ngIf="paginacao.paginaAtual < paginacao.totalPaginas">&nbsp;<i class="fa-solid fa-forward"></i></a>
      </div>
    </div>
  </div>
</div>

<app-loading *ngIf="isLoadingVisible"></app-loading>
