

/* ------------ LAYOUT ---------------- */
.page-header {
  background: #E4CCCC;
}

.row .align-right {
  float: right
}

.page-content {
  display: block;
}

/* ------------ CONTENT ELEMENTS ---------------- */

.page-header h1 {
  display: inline-block;
  font-size: 24pt;
  font-family: sans-serif;
  margin: 20px 30px;
}

.table-footer {
  margin-top: 20px;
}


.container table {
  border-collapse: collapse;
  width: 100%;
}

.container table .table-header {
  background-color: #EDEDED;
}

.container table td {
  padding: 5px;
}

.container table .table-row:nth-child(even) {
  background-color: #F9F9F9;
}

.container table .table-row:nth-child(odd) {
  background-color: #F4F4F4;
}
.container table .table-row .table-icons {
  display: block;
  float: right;
}
.container table .table-row-et:nth-child(even) {
  background-color: #b4cffd;
}

.container table .table-row-et:nth-child(odd) {
  background-color: #b8fcd9;
}
.container table .table-row-et .table-icons {
  display: block;
  float: right;
}


/* NOTA: se isso for específico para a página de produtos, incluir lá na pagina de produtos */
.product {
  text-align: right;
  padding: 10px;  
}


/* ------------ FORM ELEMENTS ---------------- */

input.btn-localizar {
  margin: 20px 0px;
}

button {
  background-color: #4CAF50;
  color: white;
  border-radius: 8px ;
  border: 1px solid #cccc;
  filter:drop-shadow(4px 4px 4px #acacac);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.cancel-button {
  background-color: #f44336;
}

.cancel-button:hover {
  background-color: #da190b;
}

.page-footer button {
  float: right
}

input, select {
  padding: 5px;
  border-radius: 4px;
  background: #ffff;
  border: 1px solid #cccc;
  filter:drop-shadow(2px 2px 2px #acacac);
  font-size: 16px;
}

input.wide {
  width: 87% !important;
}

input.small {
  width: 200px !important;
}

input[type="number"] {
  width: 150px;
}

input[type="date"] {
  width: 200px;
}

input[type="text"] {
  width: 450px;
}

.input-field {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.input-field label {
  width: 150px;
  text-align: left;
}
.input-field input[type="number"],
.input-field span {
  width: 100px
}

.input-field input[type="radio"] {
  margin-right: 10px;
}

.input-group {
  display: flex;
  margin-bottom: 24px;
  margin-top: 40px;
}

.input-group label {
  width: 150px;
  text-align: left;
  margin-right: 10px;
  align-items: stretch;
}

.autofill {
  font-weight: bold;
  color: #666;
}