.list-page-search-holder {
  padding: 10px 0px;
}

.list-page-search-holder input {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px;
  padding-left: 40px;
  padding-top: 3px;
}

.table a.product-details-link div {
  display: inline-block;
  width: 20px;
  height: 15px;
  margin-left: 10px;
}

.table a.product-details-link:hover div {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: 2px 4px;
}

.items-table-holder {
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.table tr:nth-child(odd) {
  background: rgba(231, 242, 255, 0.60);
}

.table tr:not(:first-child):hover {
  background: rgba(249, 252, 255, 0.7);
}

.table a {
  background: unset;
  padding: 0px;
  margin: 0px;
}

.table .table-icons a.icon {
  background: unset;
  color: #4a4a4a;
  width: 20px;
  height: 20px;
  float: left;
  margin-left: 7px;
}

.table .table-icons a.icon .arrow-up-arrow-down {
  width: 20px;
  height: 18px;
  background-color: #4a4a4a;
  mask: url('/img/up-down-arrows-icon.svg') no-repeat center;
  -webkit-mask: url('/img/up-down-arrows-icon.svg') no-repeat center;
  mask-size: 16px;
}

.table .table-icons a.icon .person-dolly {
  width: 20px;
  height: 18px;
  background-color: #4a4a4a;
  mask: url('/img/dolly-icon.svg') no-repeat center;
  -webkit-mask: url('/img/dolly-icon.svg') no-repeat center;
  mask-size: 18px;
}

.table th {
  background: unset;
}

.table tr {
  background: unset;
}

.table td:not(:last-child) {
  padding-left: .5rem;
}

.table .table-icons {
  text-align: right;
  padding-right: 10px;
  width: 119px;
}

.table .whatsapp-icon {
  width: 20px;
}
