.page-footer {
  height: 66px;
  padding: 13px 0px;
  margin-top: 10px;
}

.page-footer .col-sm-12 {
  padding: 0px;
}

.page-footer button {
  margin-left: 10px;
}

input.ng-dirty.ng-invalid {
  border: 1px solid #f86161
}

label {
  padding-top: 7px;
}

.form-switch input {
  margin-top: 11px;
}
