<div class="error-message" *ngIf="errorMessage !== ''">{{errorMessage}}</div>

<form [formGroup]="fornecedorForm" (ngSubmit)="onSubmitForm()">
  <div class="container">
    <div class="row page-header inner-page-header">
        <div class="col-sm-12">
            <h1>{{itemId > 0 ? 'Atualizar' : 'Cadastrar'}} Fornecedor</h1>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-12">
            &nbsp;
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-1">
            <label for="empresa" class="form-label">Empresa:</label>
        </div>
        <div class="col-sm-11">
            <input type="text" formControlName="empresa" placeholder="Nome da empresa..." id="empresa" name="empresa" class="form-control">
        </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-1">
          <label for="representante" class="form-label">Representante:</label>
      </div>
      <div class="col-sm-11">
          <input type="text" formControlName="nomeRepresentante" placeholder="Nome do representante..." id="nomeRepresentante" name="nomeRepresentante" class="form-control">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-1">
          <label for="telefone" class="form-label">Telefone:</label>
      </div>
      <div class="col-sm-4">
          <input type="tel" formControlName="telefone" inputmode="text" mask="(00) 00000-0000" placeholder="(00) 00000-0000" id="telefone" name="telefone" class="form-control">
      </div>
      <div class="col-sm-1">
          <label for="email" class="form-label">E-mail:</label>
      </div>
      <div class="col-sm-6">
          <input type="text" formControlName="email" id="email" placeholder="nome@dominio.com.." name="email" class="form-control">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-1">
          <label for="endereco" class="form-label">Endere&ccedil;o:</label>
      </div>
      <div class="col-sm-8">
          <input type="text" formControlName="endereco" id="endereco" placeholder="Endereço" name="endereco" class="form-control">
      </div>
      <div class="col-sm-1">
          <label for="numero" class="form-label">N&deg;:</label>
      </div>
      <div class="col-sm-2">
          <input type="text" formControlName="numero" id="numero" name="numero" class="form-control">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-1">
          <label for="uf" class="form-label">Estado:</label>
      </div>
      <div class="col-sm-3">
          <select id="estadoId" formControlName="estadoId" min="1" name="estadoId" class="form-select" required (change)="estadoSelecionado($event)">
            <option value="0" selected="selected">Selecione...</option>
            <option [value]="estado.id" *ngFor="let estado of estados()">{{estado.uf}} - {{estado.nome}}</option>
        </select>
      </div>
      <div class="col-sm-1">
          <label for="cidadeId" class="form-label">Cidade:</label>
      </div>
      <div class="col-sm-4">
          <select id="cidadeId" formControlName="cidadeId" min="1" name="cidadeId" class="form-select">
            <option value="0" selected="selected">Selecione...</option>
            <option [value]="cidade.id" *ngFor="let cidade of cidades()">{{cidade.nome}}</option>
        </select>
      </div>
      <div class="col-sm-1">
          <label for="cep" class="form-label">Cep:</label>
      </div>
      <div class="col-sm-2">
          <input type="text" inputmode="text" mask="00000-000" placeholder="00000-000" formControlName="cep" id="cep" name="cep" class="form-control">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-1">
          <label for="site" class="form-label">Site:</label>
      </div>
      <div class="col-sm-10">
          <input type="text" formControlName="site" placeholder="www..." id="site" name="site" class="form-control">
      </div>
    </div>

    <div class="row page-footer">
        <div class="col-sm-12 text-end">
            <button type="button" class="btn btn-danger" (click)="confirmarCancelar()">CANCELAR</button>&nbsp;
            <input type="submit" [disabled]="!fornecedorForm.valid" class="btn btn-success" value="SALVAR">
        </div>
    </div>
  </div>
</form>

<app-loading *ngIf="isLoadingVisible"></app-loading>
