<div class="error-message" *ngIf="errorMessage !== ''">{{errorMessage}}</div>

<div class="container">
  <div class="row page-header inner-page-header">
    <div class="col-sm-6">
      <h1>Usu&aacute;rios</h1>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-success" (click)="gotoCadastro()">INCLUIR</button>
    </div>
  </div>
  <div class="page-content">
    <div class="row">
      <div class="col-sm-8">
        &nbsp;
      </div>
      <div class="col-sm-4 list-page-search-holder">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar usuário.." (keyup)="executarBuscaOnKeyboard($event)" (blur)="executarBuscaOnBlur($event)" aria-label="Buscar produto..">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" class="items-table-holder">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Login</th>
              <th scope="col">&nbsp;</th>
            </tr>
          </thead>
          <tr *ngIf="getListaUsuarios().length == 0">
            <td class="list-items-not-found" colspan="4" scope="row">Nenhum usu&aacute;rio dispon&iacute;vel no momento.</td>
          </tr>
          <tr *ngFor="let usuario of getListaUsuarios()">
            <td>{{usuario.nome}}</td>
            <td>{{usuario.login}}</td>
            <td class="table-icons">
              <a *ngIf="usuario.id != 1" class="icon" title="Alterar informações" (click)="atualizarUsuario(usuario.id)">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
              <a *ngIf="usuario.id != 1" class="icon" title="Excluir" (click)="confirmarRemocaoUsuario(usuario)">
                <i class="fa-solid fa-trash-can"></i>
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center table-footer">
        <a (click)="paginaAnterior()" data-toggle="tooltip" data-placement="top" title="Página anterior" *ngIf="paginacao.paginaAtual > 1"><i class="fa-solid fa-backward"></i>&nbsp;</a>
        <i class="bi bi-arrow-left-circle"></i> {{paginacao.paginaAtual}} / {{paginacao.totalPaginas}} <i class="bi bi-arrow-right-circle"></i>
        <a (click)="proximaPagina()" data-toggle="tooltip" data-placement="top" title="Próxima página" *ngIf="paginacao.paginaAtual < paginacao.totalPaginas">&nbsp;<i class="fa-solid fa-forward"></i></a>
      </div>
    </div>
  </div>
</div>

<app-loading *ngIf="isLoadingVisible"></app-loading>
