html, body, #principal {
  min-height: 100% !important;
  height: 100%;
}

body{
    background-image: url("/img/background-style.jpg");
    background-position: center;
}

.page {
  background-image: url("/img/background-style2.jpg");
}

.error-message {
  background-color: #ff4a4a;
  color: #FFF;
  font-weight: 600;
  text-align: center;
  padding: 10px;
}

.inner-page-header {
  background-color: #f5d5f9;
  font-size: 24pt;
  font-weight: 400;
  border-radius: 0px 0px 5px 5px;
}

.inner-page-header button {
  float: right;
  margin-top: 8px;
}

.modal-header {
  background-color: #F98888;
  color: #fff;
  font-weight: 600;
}
.modal-content {
  width: 110% !important;
}

.fornecedores-selecionados {
  display: block;
  width: 100%;
  height: 150px;
  border: 1px #ccc solid;
  border-radius: 5px;
  padding: 5px;
  overflow: overlay;
  background-color: #fff;
  margin-bottom: 10px;
}

.fornecedores-selecionados span {
  padding: 10px;
  color: #747474
}

.fornecedor-selecionado {
  padding: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin-right: 5px;
  margin-bottom: 5px;
}
