<header class="header mb-5 pb-3">
  <nav class="nav navbar fixed-top">
    <div class="container-fluid" style="padding: 0 0 !important;">
      <div class="d-flex align-items-center justify-content-between w-100">

        <div class="d-flex align-items-center">
          <a class="menu-btn d-flex align-items-center justify-content-center p-2 bg-gray-900" id="toggle-btn" href="#" style="width: 36px;"><i class="fa-solid fa-bars"></i></a>
          <a class="navbar-brand ms-2" href="#">
            <div class="brand-text d-none d-md-inline-block text-uppercase letter-spacing-0">
              <span class="text-white fw-normal text-xs">Rafaela Studio </span>&nbsp;&nbsp;
              <strong class="text-primary text-sm">{{titulo}}</strong>
            </div>
          </a>
        </div>

        <ul class="nav-menu mb-0 list-unstyled d-flex flex-md-row align-items-md-center" style="margin-right: 20px;">
          <!-- Notifications dropdown-->
          <li class="nav-item dropdown">
            <a class="nav-link text-white position-relative" id="notifications" rel="nofollow" data-bs-target="#" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class='far fa-comment svg-icon svg-icon-xs svg-icon-heavy'></i>
              <span class="badge bg-warning">12</span>
            </a>

            <ul class="dropdown-menu dropdown-menu-end mt-sm-3 shadow-sm" aria-labelledby="notifications">
              <li>
                <a class="dropdown-item py-3" href="#!">
                  <div class="d-flex">
                    <div class="icon icon-sm bg-blue">
                      <i class='fas fa-bell'></i>
                    </div>
                    <div class="ms-3"><span class="h6 d-block fw-normal mb-1 text-xs text-gray-600">You have 6 new messages </span><small class="small text-gray-600">4 minutes ago</small></div>
                  </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item py-3" href="#!">
                  <div class="d-flex">
                    <div class="icon icon-sm bg-green">
                      <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                        <use xlink:href="#chats-1"> </use>
                      </svg><i class='fas fa-bell'></i>
                    </div>
                    <div class="ms-3"><span class="h6 d-block fw-normal mb-1 text-xs text-gray-600">New 2 WhatsApp messages</span><small class="small text-gray-600">4 minutes ago</small></div>
                  </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item py-3" href="#!">
                  <div class="d-flex">
                    <div class="icon icon-sm bg-orange">
                      <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                        <use xlink:href="#checked-window-1"> </use>
                      </svg>
                    </div>
                    <div class="ms-3"><span class="h6 d-block fw-normal mb-1 text-xs text-gray-600">Server Rebooted</span><small class="small text-gray-600">8 minutes ago</small></div>
                  </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item py-3" href="#!">
                  <div class="d-flex">
                    <div class="icon icon-sm bg-green">
                      <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                        <use xlink:href="#chats-1"> </use>
                      </svg>
                    </div>
                    <div class="ms-3"><span class="h6 d-block fw-normal mb-1 text-xs text-gray-600">New 2 WhatsApp messages</span><small class="small text-gray-600">10 minutes ago</small></div>
                  </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item all-notifications text-center" href="#!">
                  <strong class="text-xs text-gray-600">view all notifications</strong>
                </a>
              </li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
